<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SeleniumAITests">
    <test name="FallbackLocatorTests">
        <classes>
            <class name="org.example.tests.LoginTest"/>
            <class name="org.example.tests.LoginTestOllama"/>
        </classes>
    </test>
</suite>